* {
  font-family: 'Helvetica';
}

h2 {
  color: #2e2e2e;
}

.header {
  overflow: hidden;
  padding-bottom: 20px;
}
.header h1 {
  margin-bottom: 0px;
  color: #5a822b;
}
.header h2 {
  margin-top: 5px;
}

.nav {
  margin: 30px 0px;
  padding-left: 0px;
  list-style: none;
}
.nav li {
  float: left;
}
.nav li a {
  background-color: #2e2e2e;
  font-weight: 800;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}
.nav li a:hover {
  background-color: #5a822b;
}

.content {
  overflow: hidden;
  margin-top: 60px;
}

.card {
  background-color: #f5f5f5;
  width: 250px;
  height: 300px;
  margin: 15px;
  float: left;
}
.card img {
  width: 100%;
}
.card h3, .card p {
  padding: 0px 15px;
}

.entry-container {
  margin-bottom: 30px;
  overflow: hidden;
  width: 50%;
}
.in-title {
  margin-bottom: 15px;
  width: 96%;
  padding: 5px 15px;
  font-size: 18px;
}
.fr-box {
  width: 100%;
}
.in-button {
  margin-top: 30px;
  border: 0px;
  background-color: #5a822b;
  color: white;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  float: right;
}
.in-button:hover {
  background-color: #2e2e2e;
}