* {
  font-family: 'Helvetica';
}

body {
  background-color: #f5f5f5;
}

h2 {
  color: #2e2e2e;
}

.header {
  overflow: hidden;
  padding-bottom: 20px;
}
.header h1 {
  margin-bottom: 0px;
  color: #5a822b;
}
.header h2 {
  margin-top: 5px;
}

.nav {
  margin: 30px 0px;
  padding-left: 0px;
  list-style: none;
}
.nav li {
  float: left;
}
.nav li a {
  background-color: #2e2e2e;
  font-weight: 800;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}
.nav li a:hover {
  background-color: #5a822b;
}

.content {
  overflow: hidden;
  margin-top: 60px;
}

.card {
  background-color: #f5f5f5;
  width: 250px;
  height: 300px;
  margin: 15px;
  float: left;
}
.card img {
  width: 100%;
}
.card h3, .card p {
  padding: 0px 15px;
}

.entry-container {
  text-align: center;
  background-color: #00ABB5;
  margin-bottom: 30px;
  padding: 20px 60px;
  overflow: hidden;
  width: 50%;
}
.entry-container h3 {
  font-size: 28px;
  color: white;
  margin-bottom: 20px
}
.in-title {
  border: 0px;
  margin-bottom: 25px;
  width: 96%;
  padding: 10px 15px;
  font-size: 20px;
  color: #999;
  box-shadow: 0px 1px 3px #939191;
}
.fr-box {
  width: 100%;
  box-shadow: 0px 1px 3px #939191;
}
.in-button {
  margin: 30px auto;
  border: 0px;
  background-color: white;
  color: #999;
  padding: 12px 30px 8px 30px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 1px 3px #939191;
}
.in-button:hover {
  background-color: #2e2e2e;
}

/* Custom Card */

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.recipe-card {
  background: #fff;
  margin: 4em 15px;
  width: 20%;
  float: left;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.recipe-card aside {
  position: relative;
}
.recipe-card aside img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.recipe-card aside .button {
  background: #57abf2;
  display: inline-block;
  position: absolute;
  top: 80%;
  right: 3%;
  width: 4.0625em;
  height: 4.0625em;
  border-radius: 4.0625em;
  line-height: 4.0625em;
  text-align: center;
}
.recipe-card aside .button .icon {
  vertical-align: middle;
}
.recipe-card article {
  padding: 1.25em 1.5em;
}
.recipe-card article ul {
  list-style: none;
  margin: 0.5em 0 0;
  padding: 0;
}
.recipe-card article ul li {
  display: inline-block;
  margin-left: 1em;
  line-height: 1em;
}
.recipe-card article ul li:first-child {
  margin-left: 0;
}
.recipe-card article ul li .icon {
  vertical-align: bottom;
}
.recipe-card article ul li span:nth-of-type(2) {
  margin-left: 0.5em;
  font-size: 0.8em;
  font-weight: 300;
  vertical-align: middle;
  color: #838689;
}
.recipe-card article h2,
.recipe-card article h3 {
  margin: 0;
  font-weight: 300;
}
.recipe-card article h2 {
  font-size: 1.75em;
  color: #222222;
}
.recipe-card article h3 {
  font-size: 0.9375em;
  color: #838689;
}
.recipe-card article p {
  margin: 1.25em 0;
  font-size: 0.8125em;
  font-weight: 400;
  color: #222222;
}
.recipe-card article p span {
  font-weight: 700;
  color: #000000;
}
.recipe-card article .ingredients {
  margin: 2em 0 0.5em;
}
.recipe-card .icon {
  display: inline;
  display: inline-block;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/recipe-card-icons.svg);
  background-repeat: no-repeat;
}
.recipe-card .icon-calories,
.recipe-card .icon-calories\:regular {
  background-position: 0 0;
  width: 16px;
  height: 19px;
}
.recipe-card .icon-clock,
.recipe-card .icon-clock\:regular {
  background-position: 0 -19px;
  width: 20px;
  height: 20px;
}
.recipe-card .icon-level,
.recipe-card .icon-level\:regular {
  background-position: 0 -39px;
  width: 16px;
  height: 19px;
}
.recipe-card .icon-play,
.recipe-card .icon-play\:regular {
  background-position: 0 -58px;
  width: 21px;
  height: 26px;
}
.recipe-card .icon-users,
.recipe-card .icon-users\:regular {
  background-position: 0 -84px;
  width: 18px;
  height: 18px;
}