header {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica';
}

ul {
  padding-left: 0px;
  overflow: hidden;
  list-style: none;
  width: max-content;
  margin: 0 auto;
}
ul li {
  float: left;
}
ul li a {
  padding: 10px 5px;
}

header h1 {
  color: #2ab516;
  margin-bottom: 5px;
}
header h5 {
  margin: 0px;
  margin-bottom: 15px;
}

.container {
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  height: 400px;
  padding-bottom: 30%;
}

.green-card {
  border: 1px solid #f5f5f5;
  width: 250px;
  padding: 20px;
  margin: 10px;
  float: left;
}

.content {
  background-color: #6a62d2;
  width: auto;
  height: 100%;
  padding: 10% 15%;
}

.title {
  padding-bottom: 20px;
  font-family: helvetica;
  font-size: 30px;
}

.login-page {
  display: block;
  border-radius: 10px;
  background-color: white;
  width: auto;
  height: 90%;
  text-align: center;
  padding: 20px 0px
}

.button {
  height: 50px;
  background-color: #746bde;
  color: white;
  border: none;
  border-radius: 3px;
  width: 72%;
}

.UaP {
  margin-bottom: 20px;
  border: none;
  background-color: #e5e8ed;
  height: 50px;
  width: 70%;
  padding-left: 10px;
}

.checkbox {
  margin-bottom: 20px;
  background-color: #746bde;
  margin-left: -48%;
}

