<div class="login-page">
  <div class="title"> Sign in to your account </div>
  <input type="text" placeholder="Username" class="UaP"/> <br/>
  <input type="password" placeholder="Password" class="UaP"/> <br/>
  <input type="checkbox" class="checkbox" > Keep me signed <br/>
  <input type="button" placeholder="sign in" class="button" /> <br/>
</div>