{{outlet}}

<header>
  <h1>GreenCity</h1>
  <h5>Grow your own food in the cities</h5>

  <ul>
    <li><a>{{#link-to 'home'}}Home{{/link-to}}</a></li>
    <li><a>{{#link-to 'story'}}Story{{/link-to}}</a></li>
    <li><a>{{#link-to 'guides'}}Guides{{/link-to}}</a></li>
    <li><a>{{#link-to 'projects'}}Projects{{/link-to}}</a></li>
  </ul>
</header>

<div class="container">

</div>