<div class="login-page">
  <div class="login-form">
    <div class="title"> Sign in to your account </div>
    <input type="text" placeholder="Username" class="UaP"/> <br/>
    <input type="password" placeholder="Password" class="UaP"/> <br/>
    <input type="checkbox" class="checkbox" > Keep me signed in <br/>
    <button class="button"><i class="fab fa-facebook"> Login with Facebook</i></button>
    <a href="#">Forgot your password?</a>
  </div>
</div>
